40 -888.0 0 0
0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
-1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0 
1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK1" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI1" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI1" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS1" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK2" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI2" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI2" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS2" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY2" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK3" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI3" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI3" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS3" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY3" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK4" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI4" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI4" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS4" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY4" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK5" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI5" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI5" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS5" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY5" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK6" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI6" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI6" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS6" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY6" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK7" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI7" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI7" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS7" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY7" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK8" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI8" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI8" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS8" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY8" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK9" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI9" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI9" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS9" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY9" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK10" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI10" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI10" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS10" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY10" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK11" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI11" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI11" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS11" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY11" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK12" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI12" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI12" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS12" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY12" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK13" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI13" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI13" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS13" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY13" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK14" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI14" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI14" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS14" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY14" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK15" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI15" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI15" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS15" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY15" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK16" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI16" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI16" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS16" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY16" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK17" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI17" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI17" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS17" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY17" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK18" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI18" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI18" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS18" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY18" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK19" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI19" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI19" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS19" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY19" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK20" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI20" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI20" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS20" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY20" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK21" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI21" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI21" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS21" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY21" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK22" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI22" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI22" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS22" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY22" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK23" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI23" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI23" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS23" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY23" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK24" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI24" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI24" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS24" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY24" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK25" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI25" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI25" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS25" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY25" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK26" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI26" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI26" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS26" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY26" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK27" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI27" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI27" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS27" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY27" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK28" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI28" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI28" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS28" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY28" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK29" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI29" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI29" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS29" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY29" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HK30" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/HANI30" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/VANI30" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SS30" 1 0 100
HDF5 1.0 -1 "ConfinedBaseCase.h5" "Arrays/SY30" 1 0 100
